Source: yams
Section: python
Priority: optional
Maintainer: Logilab Packaging Team <contact@logilab.fr>
Uploaders: Sylvain Thenault <sylvain.thenault@logilab.fr>, Alexandre Fayolle <afayolle@debian.org>,
    Nicolas Chauvat <nicolas.chauvat@logilab.fr>
Build-Depends:
 debhelper (>= 9),
 python-all (>= 2.6.5),
 python3-all,
 python-logilab-common (>= 0.55.2),
 python-logilab-database (>= 1.11),
 python-six (>= 1.4.0),
# for python 2.6
 python-unittest2,
 python3-logilab-common (>= 0.55.2) | python3 (<< 3.3),
 python3-logilab-database (>= 1.11) | python3 (<< 3.3),
 python3-six (>= 1.4.0) | python3 (<< 3.3),
Homepage: http://www.logilab.org/project/yams
Standards-Version: 3.8.0
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.3

Package: python-yams
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends},
 python-logilab-common (>= 0.55.2),
 python-logilab-database (>= 1.11),
 python-six (>= 1.4.0),
Breaks:
 cubicweb-common (<< 3.21),
Description: entity / relation schema
 Yet Another Magic Schema !
 A simple/generic but powerful entities / relations schema, suitable
 to represent RDF like data. The schema is readable/writable from/to
 various formats.

Package: python3-yams
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-logilab-common (>= 0.55.2),
 python3-logilab-database (>= 1.11),
 python3-six (>= 1.4.0),
Description: entity / relation schema
 Yet Another Magic Schema !
 A simple/generic but powerful entities / relations schema, suitable
 to represent RDF like data. The schema is readable/writable from/to
 various formats.
 .
 This package contains the python3 version of the library.
