#!/usr/bin/make -f

export PYBUILD_NAME = yams

# Tests on Python 3 currently have issues
export PYBUILD_DISABLE_python3.7 = test

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Remove binaries from Python 2 package
	rm -rf debian/python-yams/usr/bin
	# Remove binaries from Python 3 package
	rm -rf debian/python3-yams/usr/bin
