#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
#
# adapted by Logilab for automatic generation by debianize
# (part of the devtools project, http://www.logilab.org/projects/devtools)
#
# Copyright (c) 2003-2005 LOGILAB S.A. (Paris, FRANCE).
# http://www.logilab.fr/ -- mailto:contact@logilab.fr

include /usr/share/python/python.mk

# don't build the python3 package if python3 is < 3.3
py3k = $(subst python3.,,$(shell py3versions -d))
build_py3k = $(shell test "$(py3k)" -gt 2 && echo 1)

ifeq (,$(build_py3k))
    DH_OPTIONS += -Npython3-yams
    export DH_OPTIONS
    addons = python2
else
    addons = python2,python3
endif

export NO_SETUPTOOLS=1

override_dh_auto_clean:
	dh_auto_clean
	rm -rf yams.egg-info

install-python%:
	python$* setup.py -q install --no-compile --root=$(CURDIR)/debian/tmp \
	    $(py_setup_install_args)

override_dh_auto_install: $(patsubst %,install-%,$(shell py3versions -r))
	dh_auto_install

%:
	dh $@ --with $(addons)

